{
  "name": "{{name}}",
  "description": "{{description}}",
  "version": "{{version}}",
  "author": {
    "name": "{{author-name}}",
    "email": "{{author-email}}"
  },
  "homepage": "{{homepage-url}}",
  "license": "{{license}}",
  "keywords": [
    "{{keyword-1}}",
    "{{keyword-2}}"
  ]
}
